@import '~antd/dist/antd.css';

$input-radio-color: rgba(24, 30, 173, 0.54);

.ant-spin-dot-item {
  background-color: $input-radio-color;
}

.ant-layout-header,
.ant-layout {
  background: none;
}

.header {
  text-align: center;
  margin-top: 40px;
}

.content {
  margin: 20px 0;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 25.1%;
  border: 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
}

.number {
  width: 33.3%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textE {
  text-align: center;
}

.ant-btn-default {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  line-height: 3vh;
  background: #181EAD;
  border-color: #181EAD;
  border-radius: 41px;
  color: #FFFFFF;
  width: 60vh;
  height: 5vh;

  &:hover,
  &:focus {
    color: #181EAD;
    border-color: #181EAD;
  }
}

.cell {
  box-sizing: border-box;

  width: 7vh;
  height: 7vh;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #313131;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 5vh;
    line-height: 60px;
    text-align: center;
  }
  // .ant-input-number-input {
  //   width: auto;
  //   height: auto;
  // }

  .ant-input-number-handler-wrap {
    visibility: hidden;
  }
}

.ant-input-number {

  &:hover {
    border-color: #313131;
  }
}

.ant-input-number-focused {
  border-color: #313131;
  box-shadow: none;
}

.ant-input-number-status-error {
  input {
    color: #FF3838;
  }
}

// .ant-layout {
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

.ant-row {
  height: 100%;
}

.firstCol {
  display: flex;
  justify-content: end;
}

.secondCol {
  display: flex;
  justify-content: center;
}

.center-f {
  display: flex;
  justify-content: center;
}

.myGridWrap {
  display: grid;
  // grid-template-columns: 33% 33% 33%;
  // grid-template-rows: 25% 25% 25%;
  column-gap: 1vh;
  row-gap: 1vh;
  justify-self: center;
}

.myGridWrap2 {
  display: grid;
  // grid-template-columns: 30vh 30vh 30vh;
  // grid-template-rows: 25vh 25vh 25vh;
  column-gap: 2vh;
  row-gap: 3vh;
  justify-self: center;
}

.ant-radio-inner::after {
  background-color: $input-radio-color;
}

.ant-radio-checked .ant-radio-inner {
  border-color: $input-radio-color;
}

.ant-radio-input:focus+.ant-radio-inner {
  border-color: $input-radio-color;
}

.ant-radio-input:focus+.ant-radio-inner {
  box-shadow: 0 0 0 3px #181ead2e;
}

.wrapper-for-menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;

  h1 {
    margin: 0;
  }

  span {
    color: $input-radio-color;
  }
}

.button-create-game {
  width: 30vh;
}